img{
    max-height: 400px;
    max-width: 400px;
}

.poor-score, .mehh-score, .good-score, .great-score{
    margin-bottom: 50px;
    margin-top: 50px;
}

.appear{
    display: initial;
}
.logo_question{
    display: none;
}
